Repository robert-koch-institut/mex-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

pretty-format-json:
  name: pretty-format-json
  language: system
  entry: poetry run pretty-format-json

debug-statements:
  name: debug-statements
  language: system
  entry: poetry run debug-statements

autoflake:
  name: autoflake
  language: system
  entry: poetry run autoflake
  args:
  - --in-place
  - --remove-all-unused-imports

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

pydocstyle:
  name: pydocstyle
  language: system
  entry: poetry run mypy

bandit:
  name: bandit
  language: system
  entry: poetry run bandit
  args:
  - --silent
  - --ini=.bandit

set certificate for auth against public API
  mex/common/public_api/connector.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

add custom _check_availability to public API connector
  mex/common/public_api/connector.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

update pydantic to major version 2
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

add pydantic-settings dependency
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

remove statement that has no effect
  mex/common/connector/http.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

run bump-pydantic
  mex/common/ldap/models/person.py
  mex/common/models/activity.py
  mex/common/models/base.py
  mex/common/models/contact_point.py
  mex/common/models/distribution.py
  mex/common/models/extracted_data.py
  mex/common/models/organization.py
  mex/common/models/organizational_unit.py
  mex/common/models/person.py
  mex/common/models/resource.py
  mex/common/models/variable.py
  mex/common/models/variable_group.py
  mex/common/public_api/models.py
  mex/common/settings.py
  mex/common/types/link.py
  mex/common/types/text.py
  mex/common/types/vocabulary.py
  mex/common/wikidata/models/organization.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

move autoflake before isort
  .pre-commit-config.yaml
Due: none

Configure local pre-commit hooks
  .pre-commit-config.yaml
  mex/common/extract.py
  mex/common/testing/plugin.py
  mex/common/types/stubs.pyi
  mex/common/types/text.py
  mex/common/types/timestamp.py
  poetry.lock
  pyproject.toml
  tests/organigram/conftest.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

fix validation and json schema generation for custom field types
  mex/common/models/base.py
  mex/common/models/organization.py
  mex/common/models/person.py
  mex/common/models/resource.py
  mex/common/settings.py
  mex/common/types/email.py
  mex/common/types/identifier.py
  mex/common/types/resolved_path.py
  mex/common/types/text.py
  mex/common/types/timestamp.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

add vocabulary for language
  mex/common/models/resource.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

bump version to v0.12.2
  pyproject.toml
Due: none

Revamp primary source loading
  .mypy.ini
  .pre-commit-config.yaml
  assets/mappings/__all__/primary-source.csv
  assets/mappings/dummy-primary-source/primary-source.csv
  assets/raw-data/platform/platforms.json
  assets/raw-data/primary-sources/primary-sources.json
  mex/common/ldap/transform.py
  mex/common/models/extracted_data.py
  mex/common/organigram/extract.py
  mex/common/organigram/transform.py
  mex/common/primary_source/connector.py
  mex/common/primary_source/extract.py
  mex/common/primary_source/models.py
  mex/common/primary_source/transform.py
  mex/common/scripts/seed.py
  mex/common/settings.py
  mex/common/testing/__init__.py
  mex/common/testing/plugin.py
  mex/common/testing/primary_source.py
  mex/common/wikidata/transform.py
  poetry.lock
  pyproject.toml
  tests/ldap/conftest.py
  tests/ldap/test_transform.py
  tests/organigram/conftest.py
  tests/organigram/test_extract.py
  tests/organigram/test_transform.py
  tests/primary_source/conftest.py
  tests/primary_source/test_extract.py
  tests/primary_source/test_transform.py
  tests/scripts/test_seed.py
  tests/sinks/test_public_api.py
  tests/wikidata/conftest.py
  tests/wikidata/test_transform.py
Due: pretty-format-json, debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Update versions
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: none

Fix singular naming
  mex/common/primary_source/transform.py
  mex/common/testing/plugin.py
  tests/primary_source/test_transform.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Clean up
  mex/common/backend_api/connector.py
  mex/common/models/__init__.py
  mex/common/primary_source/transform.py
  mex/common/wikidata/models/organization.py
  tests/primary_source/test_transform.py
  tests/sinks/test_public_api.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

add vocabulary for language (#18)
  mex/common/models/resource.py
  pyproject.toml
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Implement get_primary_sources_by_name
  mex/common/primary_source/transform.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

update ndson sink to append files
  mex/common/sinks/ndjson.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

feature/mx-1374 Change ndson sink to append files (#20)
  mex/common/sinks/ndjson.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Remove SettingsLoader proto, use settings in ps fixture
  mex/common/testing/__init__.py
  mex/common/testing/plugin.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

fix URL regex from https to http
  mex/common/models/resource.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

bump version
  poetry.lock
  pyproject.toml
Due: none

Feature/fix regex for mesh id in resource class (#21)
  mex/common/models/resource.py
  poetry.lock
  pyproject.toml
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

handle 429 retries in http connector
  mex/common/connector/http.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

handle 429 retries in http connector (#22)
  mex/common/connector/http.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

bump up the version
  pyproject.toml
Due: none

bump up the version (#23)
  pyproject.toml
Due: none

fix Text validation type checks
  mex/common/types/text.py
  tests/types/test_text.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

fix Link validation
  mex/common/types/link.py
  tests/types/test_link.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

add pydantic-settings to mypy deps
  .pre-commit-config.yaml
Due: none

ignore missing validation function in typing
  mex/common/types/email.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

feature/mx-1352 Revamp primary source loading (#19)
  .mypy.ini
  .pre-commit-config.yaml
  assets/mappings/__all__/primary-source.csv
  assets/mappings/dummy-primary-source/primary-source.csv
  assets/raw-data/platform/platforms.json
  assets/raw-data/primary-sources/primary-sources.json
  mex/common/backend_api/connector.py
  mex/common/ldap/transform.py
  mex/common/models/__init__.py
  mex/common/models/extracted_data.py
  mex/common/organigram/extract.py
  mex/common/organigram/transform.py
  mex/common/primary_source/connector.py
  mex/common/primary_source/extract.py
  mex/common/primary_source/models.py
  mex/common/primary_source/transform.py
  mex/common/scripts/seed.py
  mex/common/settings.py
  mex/common/testing/__init__.py
  mex/common/testing/plugin.py
  mex/common/testing/primary_source.py
  mex/common/wikidata/models/organization.py
  mex/common/wikidata/transform.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/ldap/conftest.py
  tests/ldap/test_transform.py
  tests/organigram/conftest.py
  tests/organigram/test_extract.py
  tests/organigram/test_transform.py
  tests/primary_source/conftest.py
  tests/primary_source/test_extract.py
  tests/primary_source/test_transform.py
  tests/scripts/test_seed.py
  tests/sinks/test_public_api.py
  tests/wikidata/conftest.py
  tests/wikidata/test_transform.py
Due: pretty-format-json, debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Remove BaseModel from list of base model classes
  mex/common/models/__init__.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Remove BaseExtractedData as well
  mex/common/models/__init__.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Bump version
  pyproject.toml
Due: none

fix settings types and tests
  mex/common/settings.py
  mex/common/transform.py
  tests/test_settings.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

feature/mx-1381 Clean up list of base model classes (#25)
  mex/common/models/__init__.py
  pyproject.toml
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

fix base model types and tests
  mex/common/models/base.py
  tests/models/test_base.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

fix wikidata types
  mex/common/wikidata/connector.py
Due: debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

reformat name attributes as text in organigram
  assets/raw-data/organigram/organizational_units.json
  mex/common/organigram/models.py
  mex/common/organigram/transform.py
  tests/organigram/conftest.py
Due: pretty-format-json, debug-statements, autoflake, isort, black, mypy, pydocstyle, bandit

Path conditions:
  pretty-format-json: any of: \.json$
  debug-statements: any of: \.py$, but not: cli\.py$
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: test_
  pydocstyle: any of: \.py$, but not: test_
  bandit: any of: \.py$
